---
import { LoadingButton } from "@/components/examples/loading-button";
import Layout from "@/layouts/layout.astro";
import { Accordions } from "@/components/examples/accordions";
---

<Layout>
  <h2 class="text-xl pb-1 mb-4 border-b border-border font-medium">
    components
  </h2>

  <div class="flex flex-col gap-4">
    <div
      class="border border-border-transparent bg-clip-padding rounded-lg not-dark:shadow-xs h-72"
    >
      <Accordions client:load />
    </div>
    <div
      class="border border-border-transparent bg-clip-padding rounded-lg not-dark:shadow-xs h-72"
    >
      <LoadingButton client:load>Save</LoadingButton>
    </div>
  </div>
</Layout>
