---
import { Image } from "astro:assets";
import {
  MapPinIcon,
  AcademicCapIcon,
  BriefcaseIcon,
} from "@heroicons/react/20/solid";
import Layout from "@/layouts/layout.astro";
import ProfilePic from "/public/me.jpg";
import { Star } from "@/components/logo/logo";
import { ContactButton } from "@/components/contact-button";
import { FadeIn } from "@/components/fade-in";
---

<Layout>
  <nav
    class="max-w-screen-sm px-4 mx-auto h-16 flex items-center justify-between"
  >
    <Star client:load className="h-6 fill-foreground" />
    <a
      href="/"
      class="underline decoration-dashed underline-offset-2 decoration-muted decoration-1"
    >
      home
    </a>
  </nav>
  <main class="max-w-screen-sm px-4 pt-8 mx-auto">
    <div
      class="flex sm:flex-row flex-col gap-y-4 sm:items-center justify-between"
    >
      <div class="flex items-center gap-x-6">
        <Image
          src={ProfilePic}
          draggable="false"
          alt="me"
          class="size-20 grayscale rounded-xl select-none"
          loading="eager"
        />
        <div>
          <FadeIn client:load>
            <h1 class="text-3xl font-semibold font-sans">daniel pallares</h1>
            <p class="text-muted">fullstack web developer</p>
          </FadeIn>
        </div>
      </div>
      <ContactButton client:idle />
    </div>
    <div class="flex pt-6 flex-col gap-y-4 text-muted">
      <div class="flex items-center">
        <MapPinIcon className="size-5 mr-2" />
        prague, cz
      </div>
      <div class="flex items-center">
        <AcademicCapIcon className="size-5 mr-2" />
        střední škola automobilní a informatiky
      </div>
      <div class="flex items-center">
        <BriefcaseIcon className="size-5 mr-2" />
        brandcloud.pro
      </div>
    </div>

    <h2 class="text-2xl font-medium pt-6">projects</h2>
    🚧
  </main>
</Layout>
