---
import { Image } from "astro:assets";
import {
  MapPinIcon,
  AcademicCapIcon,
  BriefcaseIcon,
} from "@heroicons/react/20/solid";
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/Button";
import ProfilePic from "/public/me.jpg";
import Logo from "@/components/Logo.astro";
import { ContactButton } from "@/components/ContactButton";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-sm pt-24 mx-auto">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-x-6">
        <div
          class="relative after:bg-primary after:absolute after:size-4 after:-right-1 after:-bottom-1 after:rounded-full after:ring-8 after:ring-background"
        >
          <Image
            src={ProfilePic}
            alt="Profile picture"
            class="size-20 rounded-xl"
          />
        </div>
        <div>
          <h1 class="text-3xl font-semibold font-sans">daniel pallares</h1>
          <p class="text-muted">fullstack web developer</p>
        </div>
      </div>
      <ContactButton client:idle />
    </div>
    <div class="flex pt-6 flex-col gap-y-4 text-muted">
      <div class="flex items-center">
        <MapPinIcon className="size-5 mr-2" />
        prague, cz
      </div>
      <div class="flex items-center">
        <AcademicCapIcon className="size-5 mr-2" />
        střední škola automobilní a informatiky
      </div>
      <div class="flex items-center">
        <BriefcaseIcon className="size-5 mr-2" />
        web developer @ brandcloud.pro
      </div>
    </div>

    <h2 class="text-2xl font-medium pt-6">projects</h2>
    🚧
  </main>
</Layout>
