@import "tailwindcss";

@custom-variant dark {
  @media not print {
    &:where(.dark, .dark *) {
      @slot;
    }
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
    padding-block: 3rem;
  }
}

:root {
  --dark: oklch(16.84% 0 0);
  --light: var(--color-neutral-50);

  --foreground: var(--dark);
  --background: var(--light);
  --gray: var(--color-neutral-600);
}
@media not print {
  .dark {
    --foreground: var(--light);
    --background: var(--dark);
    --gray: var(--color-neutral-400);
  }
}

@theme inline {
  --font-sans: "SF Pro Display", "Inter", "system-ui", "sans-serif";

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary: #baff29;
  --color-muted: var(--gray);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  ::selection {
    @apply bg-foreground text-background;
  }
  @media print {
    * {
      print-color-adjust: exact;
    }
  }
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
