---
import "@/globals.css";

const ogUrl = new URL("/og.png", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:image" content={ogUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>daniel pallares</title>
    <script
      defer
      data-domain="dani.pw"
      src="https://plausible.dani.pw/js/script.js"></script>
  </head>
  <body class="bg-background text-foreground">
    <slot />
  </body>
</html>
