---
import Posthog from "@/components/posthog.astro";
import "@/globals.css";
import { Star } from "@/components/logo/logo";

const ogUrl = new URL("/og.png", Astro.url);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:image" content={ogUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>daniel pallares</title>
    <meta name="description" content="web developer" />
    <!-- <script
      defer
      data-domain="dani.pw"
      src="https://plausible.dani.pw/js/script.js"></script> -->
    <Posthog />
  </head>
  <body
    class="bg-background transition-colors duration-500 ease-in-out text-foreground"
  >
    <nav
      class="max-w-screen-sm print:hidden px-4 mx-auto h-16 flex items-center justify-between"
    >
      <a href="/">
        <Star className="h-6 fill-foreground" />
      </a>
      <div class="flex items-center gap-x-2">
        <a
          href="/components"
          class="underline decoration-dashed underline-offset-2 decoration-muted decoration-1"
        >
          components
        </a>
        <a
          href="https://github.com/1danii"
          target="_blank"
          class="underline decoration-dashed underline-offset-2 decoration-muted decoration-1"
        >
          github
        </a>
        <a
          href="https://www.linkedin.com/in/dani-pallares/"
          target="_blank"
          class="underline decoration-dashed underline-offset-2 decoration-muted decoration-1"
        >
          linkedin
        </a>
        <!-- <a
          href="/"
          class="underline decoration-dashed underline-offset-2 decoration-muted decoration-1"
        >
          home
        </a> -->
      </div>
    </nav>
    <main class="max-w-screen-sm px-4 pt-8 mx-auto">
      <slot />
    </main>
  </body>
</html>
