---
const ogUrl = new URL("/og.png", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:image" content={ogUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>daniel pallares</title>
  </head>
  <body class="bg-background text-foreground">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
</style>
